img {
    max-width: 100%;
  }

.box-container {
    display: flex;
    align-items: center;
  }

 .box-1 {
    width: 50%;
    height: 50%;
  }

.box-2 {
    width: 50%;
    height: 50%;
  }

.content {
    margin-top: 50px;
}